{% embed "views/components/atoms/section/section.twig" with {component: component} %}

  {% block section_content %}

    <div class="overflow-hidden news-list">
      <div class="container">
        <div class="grid grid-cols-12 gap-x-5 gap-y-10">

          {% 
            set newsListArgs = {
              'paged': _GET._p|default(1),
              'page': _GET._p|default(1),
              'category__in': component.categories,
              'post_per_page': component.post_per_page|default(10)
            }
          %}

          {% set newsList = News.getNews(newsListArgs, App.userIsLogged() ) %}

          {% for post in newsList %}

            {% set news = {
              image: post.thumbnail,
              date: post.meta('date_label'),
              eyelet: post.terms()[0].title|default('<!-- no cat -->'),
              title:post.post_title,
              text: post.meta('intro'),
              link: {
                url: post.link,
                label: 'Find out more'
              }
            } %}

            <div class="col-span-12">
              {{ molecule('image-content-card', { data: news }) }}
            </div>

          {% else %}

            <div class="col-span-12">
              <div class="slef-center">
                <h2 class="mb-1 font-semibold text-black lg:text-h3 text-h4 md:mb-m">No news found</h2>
              </div>
            </div>

          {% endfor %}

        </div>

        <div class="grid grid-cols-12 gap-x-5 gap-y-10">
          {#{ dump(newsList.pagination) }#}
        </div>

      </div>
    </div>

  {% endblock %}

{% endembed %}