<div class="preloader">
  <img src="{{ site.theme.link }}/static/svg/logo.svg" alt="">
  <img class="spinner" class="mt-4" src="{{ site.theme.link }}/static/svg/preloader_spinner.svg" alt="spinner">
</div>
<style>
  .preloader {
      z-index: 1000;
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      background-color: #222;
      -webkit-animation: disappear 1s ease-in-out 2s forwards;
      animation: disappear 1s ease-in-out 2s forwards;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
  }

  .preloader img{
    margin-bottom: 30px;
    place-self: center;
    -webkit-animation: disappear 2s ease-in-out forwards;
    animation: disappear 2s ease-in-out forwards;
  }
  .preloader .spinner {
    width: 4rem;
    animation: spin 2s ease-in-out forwards infinite;
    transition: width .5s linear;
  }
</style>
<script>
  let hidePreloader = function(){
    const preloader = document.querySelector('.preloader');

    if (preloader) {
      preloader.parentNode.removeChild(preloader);
    }
  };

  window.onload = function(){
    hidePreloader()
  };
  setTimeout(function(){
    hidePreloader();
  }, 6000);
</script>