{% import "macros/class-helper.twig" as classHelper %}
{% set modifiers = classHelper.getModifiers('cta--', modifiers) %}

{% if link %}
  <a href="{{link.url|striptags}}" target="{{link.target|striptags|default('_self')}}" 
    class="{{modifiers}} {{class}} cta" 
    {{'download' in modifiers ? 'download'}}>{{link.title|default('Find out more')|striptags|trim}}{% if icon %}<span class="inline-block align-middle pl-xs">{{ source("/static/svg/#{icon}.svg") }}</span></a>{% endif %}
  </a>
{% endif %}
