.cta {
  @apply font-family-1 font-semibold underline;

  &--pill {
    min-width: 17rem;
    @apply bg-primary text-white px-5 py-2 rounded-full flex items-center justify-center w-full h-12 lg:w-min lg:h-10 no-underline;
  }
  &--primary {
    @apply text-primary;
  }
  &--w-full {
    @apply w-full;
  }
}