{% embed "views/components/atoms/section/section.twig" with {} %}

  {% block section_content %}
    <div class="text">
      <div class="container grid grid-cols-3 lg:grid-cols-12 gap-x-5">
        <h4 class="col-span-3 lg:col-span-12 text-h4-mobile lg:text-h4 text-black font-semibold font-montserrat">
          {{ component.text }}
        </h4>
      </div>
    </div>
  {% endblock %}

{% endembed %}
