{% set attributes = item.attributes|join(" ") %}
{% set is_mobile = Detect.isMobile and not Detect.isTablet %}
{% set classes = item.classes|default("object-cover object-center w-full h-full")|join(" ") %}
{% set video = is_mobile and item.mobile_video ? item.mobile_video : item.video %}
{% set optimized_video = is_mobile and item.optimized_mobile_video ? item.optimized_mobile_video : item.optimized_video %}

<video class="{{classes}} video" {{video.alt ? 'alt="#{video.alt}"'}} {{attributes}} disableRemotePlayback playsinline>

  {% if video and optimized_video and not Detect.isIos %}
    <source src="{{ optimized_video.url }}" type="{{ optimized_video.mime_type }}">
  {% endif %}

  {% if video %}
    <source src="{{video.url}}" type="{{video.mime_type}}">
  {% endif %}

</video>