{% set query_params = item.params|default([])|map(p => p ~ "=1")|join("&") %}
{% set is_mobile = Detect.isMobile and not Detect.isTablet %}
{% set query_string = query_params 
  ? query_params ~  "&color=B08D57&title=0&byline=0&portrait=0" 
  : "&background=1&loop=1&color=B08D57&title=0&byline=0&portrait=0" %}

{% set responsive_code = is_mobile and item.mobileCode ? item.mobileCode : item.code %}
{% set url = "https://player.vimeo.com/video/#{responsive_code}?#{query_string}" %}
{% set allow = item.params|default([])|merge(['fullscreen', 'picture-in-picture'])|join("; ") %}

<iframe class="w-full h-full center-absolute {{ item.classes|join(' ')}}" data-src="{{url}}" src="{{url}}" frameborder="0" allow="{{allow}}" allowfullscreen></iframe>

{#
<script src="https://player.vimeo.com/api/player.js"></script>
#}