{% set options = "rel=0&enablejsapi=1&showinfo=0&modestbranding=1&origin=#{site.link}&controls=#{has_controls ? 1 : 0}&loop=#{has_loop ? '1&playlist=' ~ code : 0}&autoplay=#{has_autoplay ? '1&mute=1' : 0}&fs=#{has_fullscreen ? 1 : 0}" %}
{% set src = "https://www.youtube.com/embed/#{item.code}?#{options}" %}

<div class="relative w-full overflow-hidden youtube-video pb-16/9">
  <iframe width="100%" height="100%" class="opacity-0 center-absolute" src="{{src}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

