<picture>
  {# desktop srcset #}
  <source 
    {{srcset}}="{{imageUrl|resize(cropSizes.x1[0], cropSizes.x1[1], cropSizes.position )}} 1x, 
      {{imageUrl|resize(cropSizes.x2[0],cropSizes.x2[1], cropSizes.position )}} 2x"
      media="(min-width: 768px)">

    {# mobile srcset webp #}
    <source {{srcset}}="{{mobileImageUrl|resize(cropSizes.mobileX2[0], cropSizes.mobileX2[1], cropSizes.mobilePosition )}}" 
      media="(min-width: 412px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 412px) and (min-resolution: 192dpi)"
      type="image/webp">
    <source {{srcset}}="{{mobileImageUrl|resize(cropSizes.mobileX2[0], cropSizes.mobileX2[1], cropSizes.mobilePosition )}}" 
      media="(min-width: 412px)"
      type="image/webp">
    <source {{srcset}}="{{mobileImageUrl|resize(cropSizes.mobileX2[0], cropSizes.mobileX2[1], cropSizes.mobilePosition )}}" 
      media="(min-width: 360px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 360px) and (min-resolution: 192dpi)"
      type="image/webp">
    <source {{srcset}}="{{mobileImageUrl|resize(cropSizes.mobileX1[0], cropSizes.mobileX1[1], cropSizes.mobilePosition )}}" 
      media="(min-width: 360px)"
      type="image/webp">
    <source {{srcset}}="{{mobileImageUrl|resize(cropSizes.mobileX2[0], cropSizes.mobileX2[1], cropSizes.mobilePosition )}}" 
      media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 0px) and (min-resolution: 192dpi)"
      type="image/webp">
    <source {{srcset}}="{{mobileImageUrl|resize(cropSizes.mobileX1[0], cropSizes.mobileX1[1], cropSizes.mobilePosition )}}" 
      media="(min-width: 0px)"
      type="image/webp">
    <img {{src}}="{{imageUrl}}" {% for attribute, value in attributes %}{{ attribute ~ '="' ~ value ~ '" '}}{% endfor %}>
</picture>

