  <picture>
      {# desktop srcset webp #}
    <source 
      {{srcset}}="{{imageUrl|retina(1)|towebp}} 1x, 
              {{imageUrl|retina(2)|towebp}} 2x"
      type="image/webp">
    {# desktop srcset jpeg #}
    <source 
      {{srcset}}="{{imageUrl|retina(1)|tojpg}} 1x, 
              {{imageUrl|retina(2)|tojpg}} 2x"
      type="image/jpeg">

    <img {{src}}="{{imageUrl|tojpg}}" {% for attribute, value in attributes %}{{ attribute ~ '="' ~ value ~ '" '}}{% endfor %}>
  </picture>
