  <picture>
    <source
      {{srcset}}="{{imageUrl|retina(1)}} 1x, 
              {{imageUrl|retina(2)}} 2x">
    <img {{src}}="{{imageUrl}}" {% for attribute, value in attributes %}{{ attribute ~ '="' ~ value ~ '" '}}{% endfor %}>
  </picture>
