{% if image.src %}

  {% set imageUrl = image.src %}
  {% set mobileImageUrl = mobileImage.src ? mobileImage.src : imageUrl %}

  {% set swiperLazyLoad = swiperLazyLoad|default(false) %}
  {% set src = swiperLazyLoad ? 'data-src' : 'src' %}
  {% set srcset = swiperLazyLoad ? 'data-srcset' : 'srcset' %}

  {% if swiperLazyLoad %}
    {% set attributes = attributes ? attributes|merge({class: attributes.class ~ ' swiper-lazy'}) : null %}
  {% endif %}

  {% set cropSizes = {
    'x1':             [crop[0]|default(0), crop[1]|default(0)],
    'x2':             [crop[0]|default(0) * 2, crop[1]|default(0) * 2],
    'mobileX1':       [mobileCrop[0]|default(375), mobileCrop[1]|default(0)],
    'mobileX2':       [mobileCrop[0]|default(375) * 2, mobileCrop[1]|default(0) * 2],
    'position':       cropPosition|default('center'),
    'mobilePosition': mobileCropPosition|default(cropPosition|default('center')),
  }%}

  {% if  optimal %}
    {% if crop or mobileCrop %}
      {% include "views/components/atoms/image/_image-crop-optimal.twig" %}
    {% else %}
      {% include "views/components/atoms/image/_image-retina-optimal.twig" %}
    {% endif %}
  {% else %}
    {% if crop or mobileCrop %}
      {% include "views/components/atoms/image/_image-crop.twig" %}
    {% else %}
      {% include "views/components/atoms/image/_image-retina.twig" %}
    {% endif %}
  {% endif %}

  {# {% if swiperLazyLoad %}
    <div class="swiper-lazy-preloader"></div>
  {% endif %} #}

{% endif %}
