{% import "macros/class-helper.twig" as classHelper %}
{% set modifiers = classHelper.getModifiers('cta-svg', modifiers) %}

{% if link %}

  <a href="{{link.url|striptags}}" target="{{link.target|striptags|default('_self')}}" class="cta-svg" {{ "download" in modifiers ? "download"}}>
    {{ source("/static/svg/#{svg|default('icon-arrow-outline-right')}.svg") }}
  </a>

{% endif %}
