{% embed "views/components/atoms/section/section.twig" with {} %}

  {% set imageBorder = component.options.bg.color in ['bg-rich-black-2', 'bg-black'] ? 'border-gray' : '' %}
  {% block section_content %}
    <div class="image-trio bg-rich-black-1">
      <div class="container">
        <div class="grid grid-cols-3 lg:grid-cols-12 gap-x-5">

          {% if  component.title %}
            <h2 class="col-span-3 mb-12 font-semibold text-white lg:mb-24 lg:col-span-9 text-h2-mobile lg:text-h2 font-montserrat mx-s lg:mx-0">
              {{ component.title|striptags }}
            </h2>
          {% endif %}

          <div class="col-span-2 col-start-1 lg:col-span-5 lg:pt-3/12 mb-l lg:mb-0">
            {{ atom('image', { 
              image: Image(component.image_left),
              crop: [680, 680],
              mobileCrop: [240, 240],
              attributes: {
                class: 'rounded-xl w-full ' ~ imageBorder
              }
            }) }}

            {% if component.caption_left %}
              <p class="font-normal text-p-mobile lg:text-p text-gray font-open-sans mt-2xs lg:mt-8">
                {{ component.caption_left|striptags }}
              </p>
            {% endif %}

          </div>

          <div class="col-span-2 col-start-2 lg:col-start-7 lg:col-span-6">
            {{ atom('image', { 
              image: Image(component.image_right),
              crop: [820, 820],
              mobileCrop: [240, 240],
              attributes: {
                class: 'rounded-xl w-full ' ~ imageBorder
              }
            }) }}

            {% if component.caption_right %}
              <p class="font-normal text-p-mobile lg:text-p text-gray font-open-sans mt-2xs lg:mt-8">
                {{ component.caption_right|striptags }}
              </p>
            {% endif %}

          </div>

          <div class="col-span-3 mt-l lg:col-start-3 lg:col-span-8 lg:mt-36">

            {{ atom('image', { 
              image: Image(component.image_bottom),
              crop: [1090, 770],
              mobileCrop: [370, 260],
              attributes: {
                class: 'rounded-xl w-full ' ~ imageBorder
              }
            }) }}

            {% if component.caption_bottom %}
              <p class="font-normal text-p-mobile lg:text-p text-gray font-open-sans mt-2xs lg:mt-8">
                {{ component.caption_bottom|striptags }}
              </p>
            {% endif %}

          </div>

        </div>
      </div>
    </div>
  {% endblock %}

{% endembed %}
