<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes|default('en') }}> <!--<![endif]-->

  {{ partial('head') }}

  <body class="antialiased font-montserrat {{ page_options.bg }}" data-is-mobile="{{ Detect.isMobile and not Detect.isTablet ? 1 : 0 }}" data-is-tablet="{{ Detect.isTablet }}" data-is-ipad="{{ Detect.isIpad or Detect.isiPadOS }}">

    {% block header %}
      {{ partial('header') }}
    {% endblock %}

    {% if page_options.preloader|default(false) %}
      {{ organism('preloader') }}
    {% endif %}

    
    {% if page_options.reloader|default(false) %}
      {{ organism('reloader') }}
    {% endif %}
   

    <main class="{{ post.slug }}">
      {% block content %}
        Sorry, no content
      {% endblock %}
    </main>

    {% block modals %}{% endblock %}

    {{ partial('cookie-policy') }}

    {{ partial('bottom') }}

    {% block footer %}
      {{ partial('footer') }}
    {% endblock %}

  </body>
</html>
