{% embed "views/components/atoms/section/section.twig" with {} %}

  {% block section_content %}
    <div class="relative hero">
      {{ atom('image', { 
          image: Image(component.image),
          crop: [1920, 800],
          mobileCrop: [390, 620],
          attributes: {
            class: "w-full object-cover object-center"
          }
        }
      )}}
      <div class="container center-absolute">
        <div class="grid items-center grid-cols-3 md:grid-cols-12 md:gap-x-5">

          <div class="col-span-3 md:col-span-9">
            <h1 class="font-semibold text-white text-h1-mobile md:text-7xl lg:text-h1 font-montserrat">
              {{ component.title|nl2br|striptags("<br>") }}
            </h1>
          </div>

          <div class="col-start-2 md:col-start-11 md:col-span-2 mt-14 md:mt-0">
            {{ atom('image', { 
              image: Image(component.logo),
              crop: [260],
              mobileCrop: [130],
            }) }}
          </div>
          
        </div>
      </div>
    </div>
  {% endblock %}

{% endembed %}
