{% extends "base.twig" %}

{% block header %}
  {% include 'partials/header/header.twig' with {
    page_options: {header_starter_theme:  'solid-light'}
  } %}
{% endblock %}

{% block content %}

  <div class="h-screen grid bg-black py-20 md:py-10 text-center {{text_theme|default('text-text')}}">
    <div class="container grid grid-cols-12 gap-5 px-5 m-auto text-white">
      <div class="col-span-12 md:col-start-2 md:col-span-10">
        <span class="font-serif text-2xl font-bold uppercase eyelet text-primary tracking-4">
          Something went wrong!
        </span>
        <h1 class="mb-2 font-serif text-4xl font-medium tracking-widest uppercase">
          page not found
        </h1>
      </div>
      <div class="col-span-10 col-start-2 md:col-start-3 md:col-span-8">
        <p class="mb-20 text-base font-light leading-normal tracking-4">
          {# Non abbiamo trovato la pagina che cercavi. Ecco cosa puoi fare: ripartire dalla home page e cliccare su una delle voci del menù. #}
        </p>
        {% include "views/components/atoms/cta/cta.twig" with {link: {
          title: 'Back to homepage',
          url: '/'
          }
        }%}
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}{% endblock %}