{% extends "templates/page.twig" %}

{% block content %}
  <div class="container pt-32 mb-16 md:pt-56">
    <div class="w-full mx-auto lg:w-8/12">
      {% if post.meta('date') %}
        <div class="text-h5 text-gray mb-2xs">{{ post.meta('date_label') }}</div>
      {% endif %}
      {% if post.meta('eyelet') %}
        <div class="mb-1 lg:mb-0 text-h5 text-primary">{{ post.meta('eyelet') }}</div>
      {% endif %}
      {% if post.post_title %}
        <h2  class="mb-1 font-semibold text-black text-h2-mobile lg:text-h2 md:mb-m">{{ post.post_title }}</h2>
      {% endif %}
      {% if post.meta('intro') %}
        <div class="p text-gray text-open-sans line-clamp-3 md:line-clamp-6 lg:line-clamp-none mb-l">{{ post.meta('intro') }}</div>
      {% endif %}

      <div>
        {# TODO, check if context needed #}
        {{ atom('add-to-any', {}, with_context = true) }}
      </div>

    </div>
  </div>

  {{ parent() }}

{% endblock %}