{% extends "base.twig" %}

{% block model %}
  versione ios e android
{% endblock %}

{% block content %}

  <main>
    <section class="py-4xl">
      <div class="container">
        <div class="grid gird-col-12">
          <div class="col-span-12">
            {{ function('do_shortcode', '[mo_oauth_login]') }}
          </div>
        </div>
      </div>
    </section>
    <style>
      .oauthloginbutton i{
        border: 0
      }
    </style>
    <script>
      setTimeout(function(){
        $('.oauthloginbutton').trigger('click');
      }, 3000);
    </script>
  </main>

  {#
    {{ dump(App.getUserRoles()) }}
    <hr>
    {{ dump(App.hasUserRoles('administrator')) }}
    <hr>
    {{ dump(App.hasUserRoles('pippo')) }}
    <hr>
    {{ dump(App.hasUserRoles(['administrator', 'pluto'])) }}
    <hr>
    {{ dump(App.hasUserRoles(['pluto'])) }}
  #}


{% endblock %}