{% extends "base_ar.twig" %}

{% block content %}

{% set currentProduct = _GET.p|default(colors[0].path)|default('pininfarina-blu')%}

  <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

  {% if _GET.test|default(0) == 1 %}
    AR disabled for testing purpose
  {% else %}
    <model-viewer 
    poster="/app/themes/eclassic/static/ar/{{ currentProduct }}/sfondo.jpg" 
    ar ar-modes="scene-viewer quick-look" ar-scale="fixed"
    style="top:0;left:0;width:100%;height:100%;position:absolute;background-color:#212221;--poster-color:#212221" 
    src="/app/themes/eclassic/static/ar/{{ currentProduct }}/ModelloAndroid/{{ currentProduct }}.gltf" ios-src="/app/themes/eclassic/static/ar/{{ currentProduct }}/{{ currentProduct }}.usdz" 
    alt="{{ currentProduct }}" 
    environment-image="/app/themes/eclassic/static/ar/{{ currentProduct }}/panorama.hdr" 
    exposure="2" 
    shadow-softness="0.8" 
    shadow-intensity="3" 
    auto-rotate 
    camera-controls>

      <button slot="ar-button" attr="test-1" style="position:absolute;top:auto;left:50%;right:auto;bottom:35px;padding:4px 12px;border:1px solid #FFF;color:#FFF;text-align:center;min-width:250px;max-width:500px;width:96%;transform:translateX(-50%);border-radius:100px;line-height:40px;z-index:99">
        <span style="font-size:1.25rem;line-height:normal;letter-spacing:0.039375rem;font-weight:bold">View in AR</span> 
        
        <span style="position:absolute;top:8px;right:20px;display:block">
          <svg width="29" height="32" style="transform: scale(0.8)" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.52 6.822a.844.844 0 0 1 .48.774v5.878a.848.848 0 0 1-.853.842.848.848 0 0 1-.853-.842V8.942l-3.883 1.916a.858.858 0 0 1-1.145-.376.837.837 0 0 1 .382-1.13L26.24 7.58l-3.592-1.773a.837.837 0 0 1-.382-1.13.858.858 0 0 1 1.145-.377l5.11 2.523zM29 24.404a.829.829 0 0 1-.248.61.856.856 0 0 1-.231.164l-5.11 2.523a.858.858 0 0 1-1.145-.377.837.837 0 0 1 .382-1.13l3.592-1.773-3.592-1.773a.837.837 0 0 1-.382-1.13.858.858 0 0 1 1.145-.376l3.883 1.916v-4.532c0-.465.382-.842.853-.842.47 0 .853.377.853.842v5.878zm-26.24.017 3.592 1.773a.837.837 0 0 1 .382 1.13.858.858 0 0 1-1.145.377L.48 25.178A.844.844 0 0 1 0 24.404v-5.878c0-.465.382-.842.853-.842s.853.377.853.842v4.532l3.883-1.916a.858.858 0 0 1 1.145.376c.21.416.04.922-.382 1.13L2.76 24.42zM1.706 8.941v4.533a.848.848 0 0 1-.853.842.848.848 0 0 1-.853-.842V7.596a.829.829 0 0 1 .248-.61.856.856 0 0 1 .231-.164l5.11-2.523a.858.858 0 0 1 1.145.377c.21.416.04.922-.382 1.13L2.76 7.579l3.592 1.773a.837.837 0 0 1 .382 1.13.858.858 0 0 1-1.145.376L1.706 8.942zM14.103.097a.858.858 0 0 1 .794 0l5.102 2.52a.837.837 0 0 1 .381 1.129.858.858 0 0 1-1.144.377l-3.883-1.917v4.532a.848.848 0 0 1-.853.842.848.848 0 0 1-.853-.842V2.205L9.764 4.122a.858.858 0 0 1-1.144-.377A.837.837 0 0 1 9 2.615L14.103.096zm.794 31.808a.858.858 0 0 1-.794 0l-5.102-2.52a.837.837 0 0 1-.381-1.129.858.858 0 0 1 1.144-.377l3.883 1.917v-4.532c0-.465.382-.842.853-.842s.853.377.853.842v4.532l3.883-1.917a.858.858 0 0 1 1.144.377c.211.416.04.922-.381 1.13l-5.102 2.519zm.456-17.068v4.532a.848.848 0 0 1-.853.843.848.848 0 0 1-.853-.843v-4.532l-4.646-2.293a.837.837 0 0 1-.381-1.13.858.858 0 0 1 1.144-.377l4.736 2.338 4.736-2.338a.858.858 0 0 1 1.144.377c.211.416.04.922-.381 1.13l-4.646 2.293z" fill="#FFF" fill-rule="nonzero"></path>
          </svg>
        </span>
          
      </button>

    </model-viewer>
  {% endif %}

  {{ molecule('color-picker', {
    colors: colors, selected: currentProduct
  }) }}

{% endblock %}