<div class="modal-{{ name }}-container modal-container fixed left-0 top-0 bottom-0 right-0 z-50 overflow-hidden"
		onclick="onModalClick(event, '{{ name }}')">
	<div class="w-full h-full overflow-y-auto py-m modal-closing-target">
		<div class="container header flex justify-between items-center">
			<span class="inline-block">
				{{ source("/static/svg/logo.svg") }}
			</span>
			<span class="inline-block cursor-pointer" onclick="toggleModal('{{ name }}')">
				{{ source("/static/svg/icon-s-x.svg") }}
			</span>
		</div>
		<div class="modal-closing-target">
			<div class="container text-white">
				{% block modal_content %}{% endblock %}
			</div>
		</div>
	</div>
</div>