{% import "macros/text-formatter.twig" as textFormatter %}
{% import "macros/class-helper.twig" as classHelper %}

{% for component in components %}
  {# render every component which is enabled #}
  {% if component.options.is_enabled %}

    {% set heading = loop.index == 1 ? 'h1' : 'h2' %}
    
    <!-- Component {{ component.acf_fc_layout }} -->
    {{ organism(component.acf_fc_layout, { component: component, heading: heading} )}}
  {% endif %}

{% endfor %}
