{% embed "views/components/atoms/section/section.twig" with {} %}

  {% block section_content %}
    <div class="image">
      <div class="container">
        <div class="grid grid-cols-3 lg:grid-cols-12 gap-x-5">

          <div class="col-span-3 lg:col-start-5 lg:col-span-8">
            {{ atom("image", { 
              image: Image(component.image),
              crop: [1280],
              mobileCrop: [390],
            }) }}
          </div>

        </div>
      </div>
    </div>
  {% endblock %}

{% endembed %}
