.footer {
  .footer__logo {
    svg {
      width: 200px;
      max-width: 172px;
      height: 35px;
    }
  }
  .socials-container {
    img {
      width: 46px;
      @media (min-width: 768px) {
        width: 28px;
      }
    }
  }
}