<footer class="w-full text-sm font-light text-white footer font-open-sans">

  <div style="background-color: #1b1b1b">
    <div class="container">

      <div class="flex flex-wrap py-m">

        <div class="flex justify-between flex-shrink-0 w-full xl:w-2/12 xl:flex-col gap-y-m pb-m pr-m">

          <div class="footer__logo">
            {{ source("/static/svg/logo_footer.svg") }}
          </div>
  
          <div style="flex: 0 0 auto; height: fit-content; height: -moz-max-content;width:175px" class="justify-between hidden mt-2 md:flex socials-container gap-s xl:gap-0">

            {% for key, link in  options.social_networks %}
              <a href="{{ link }}" target="_blank" rel="noopener">
                {{ source("/static/svg/icon-footer-#{key}.svg") }}
              </a>
            {% endfor %}

          </div>
        </div> 
  
        <address class="flex-shrink-0 w-1/2 sm:w-4/12 lg:w-3/12 xl:w-2/12 pr-m pb-m">
          <p class="font-semibold text-button-m font-montserrat mb-s">Registered Office</p>
          <p class="mb-xs">{{ options.registered_office.street }},<br>{{ options.registered_office.zip }} {{ options.registered_office.city }},<br>{{ options.registered_office.country }}</p>
          <a class="font-semibold text-primary" href="mailto:{{ options.registered_office.email }}">{{ options.registered_office.email }}</a>
        </address>
        
        <address class="flex-shrink-0 w-1/2 sm:w-4/12 lg:w-3/12 xl:w-2/12 pr-m pb-m">
          <p class="font-semibold text-button-m font-montserrat mb-s">Registered Office</p>
          <p class="mb-xs">{{ options.head_office.street }},<br>{{ options.head_office.zip }} {{ options.head_office.city }},<br>{{ options.head_office.country }}</p>
          <a class="font-semibold text-primary" href="mailto:{{ options.head_office.email }}">{{ options.head_office.email }}</a>
        </address>
  
        <div class="hidden xl:block xl:w-1/12"></div>

        <div class="flex flex-wrap flex-grow sm:w-12/12 lg:w-6/12 xl:w-5/12">
          {% set menu_titles = {
            "footer-menu-1": "eClassic",
            "footer-menu-2": "Website Legal",
            "footer-menu-3": "eClassic Legal"
          } %}
          {% for fmenu in [menu.footer_1, menu.footer_2, menu.footer_3] %}
            <div class="flex flex-col flex-shrink-0 w-1/2 sm:w-1/3 pr-s pb-m">
              <p class="font-semibold text-button-m font-montserrat mb-2xs">{{ menu_titles[fmenu.name] }}</p>
              {% for item in fmenu.items %}
                <a class="inline-block"
                  href="{{ item.url }}" target="{{ item.target }}">{{ item.title|striptags }}</a>
              {% endfor %}
            </div>
          {% endfor %}
        </div>

        <div class="w-full">
          <div style="flex: 0 0 auto; height: fit-content; height: -moz-max-content;" class="flex justify-between mt-2 md:hidden socials-container gap-s xl:gap-0">
            {% for key, link in  options.social_networks %}
              <a href="{{ link }}" target="_blank" rel="noopener">
                {{ source("/static/svg/icon-footer-#{key}.svg") }}
              </a>
            {% endfor %}
          </div>
        </div>

    </div>
  </div>

  <div class="bg-black">
    <div class="container py-m 2xl:flex 2xl:items-center 2xl:justify-between">

      <div class="mb-m 2xl:mb-0 sm:w-full 2xl:w-auto _sm:inline-grid sm:grid-cols-2 _sm:items-center lg:inline-block">
        <p class="mb-xs sm:mb-0 sm:inline-block">© {{ options.company }} {{ "now"|date("Y") }}</p>
      </div>
    </div>
  </div>

</footer>

{{ function("wp_footer") }}