{% embed "views/components/atoms/section/section.twig" with {component: component} %}

  {% block section_content %}
    <div class="title-cta">
      <div class="container text-center">
        <div class="w-full">
          {% if component.title %}
            <{{heading}} class="{{layoutClasses.title }} mb-6 lg:mb-12 text-h3-mobile md:text-h3  font-semibold {{ component.options.bg.color in ['bg-black', 'bg-rich-black-2'] ? 'text-white' : '' }}">
              {{ component.title|striptags('<em><strong><br>') }}
            </{{heading}}>
          {% endif %}

          <div class="mt-10">
            {% if component.preset == "link" and component.link.url %}
              {{ atom('cta', {link: component.link, modifiers: ['gold']})}}
            {% endif %}

            {% if component.preset == "download" and component.file.url %}
              {{ atom('cta', {link: {url: component.file.url, title: component.label }, icon: "icon-download", modifiers: ['download', 'gold']}) }}
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  {% endblock %}
{% endembed %}