{% embed "views/components/atoms/section/section.twig" with {} %}

  {% block section_content %}
    <div class="bg-black title-text-video">
      <div class="container">
        <div class="grid grid-cols-12">

          {% if component.title %}
          <div class="col-span-12">
            <h2 class="font-semibold text-white text-h2-mobile lg:text-h2 mb-xs lg:mb-11 {{ component.options.bg.color in ['bg-dark', 'bg-black'] ? 'text-white' : '' }}">
              {{ component.title|striptags|nl2br }}
            </h2>
          </div>
          {% endif %}

          {% if component.text %}
            <div class="col-span-12 text-p-mobile lg:text-p lg:col-span-4 font-open-sans text-text mb-m">
              {{ component.text }}
            </div>
          {% endif %}

          {% if component.video %}
            <div class="w-full col-span-12 mx-auto max-w-7xl">
              {{ atom('video', { 
                type: "video-tag",
                item: {
                  video: component.video,
                  optimized_video: component.optimized_video,
                  attributes: ['loop', 'autoplay', 'muted', 'preload']
                }
              }) }}
            </div>
          {% endif %}

          {% if component.image and not component.video %}
            <div class="w-full max-w-5xl col-span-12 mx-auto">
              {{ atom('image', { 
                image: Image(component.image),
                mobileImage: Image(component.mobile_image),
                crop: [1020, 575],
                mobileCrop: [400, 400],
              }) }}
            </div>
          {% endif %}

        </div>
      
      </div>
    </div>
  {% endblock %}

{% endembed %}