<div class="modal-form-contact__failure">

  <div class="inline-block px-10 mx-auto mb-5 md:px-44">
    {{ source("/static/svg/sad.svg") }}
  </div>
  <div class="w-8/12 px-4 mx-auto mb-10 ">
    <span class="font-serif leading-normal text-center text-primary text-4xl tracking-6">OH NO!</span>
    <p class="inline-block mx-auto font-light leading-normal text-base tracking-4">Qualcosa è andato storto!<br>Prova a compilare nuovamente la richiesta.</p>
  </div>
  <div class="mb-5">
    <a href="#" class="inline-block p-1 cta bg-primary modal-form-contact__close">
      <div class="px-10 py-2 text-sm font-medium leading-6 text-white uppercase border border-white border-solid whitespace-nowrap tracking-2">
        RIPROVA
      </div>
    </a>  
  </div>
  <div class="pb-10">
    <a href="/" class="inline-block p-1 font-semibold tracking-widest uppercase cta text-primary text-10">
      torna alla homepage
    </a>
  </div>
</div>