<div class="modal-form-contact__success">
  <div class="inline-block px-10 mx-auto mb-5 md:px-44">
    {{ source("/static/svg/check.svg") }}
  </div>
  <div class="w-8/12 px-4 mx-auto mb-10 ">
    <span class="font-serif leading-normal text-center text-primary text-4xl">GRAZIE!</span>
    <p class="inline-block mx-auto font-light leading-normal text-base tracking-4">Il tuo messaggio è stato spedito correttamente. Ti risponderemo il prima possibile.</p>
  </div>
  <a href="/" class="inline-block p-1 mb-16 cta bg-primary">
    <div class="px-10 py-2 text-sm font-medium leading-6 text-white uppercase border border-white border-solid whitespace-nowrap tracking-2">
      TORNA ALLA HOMEPAGE
    </div>
  </a>
</div>