<!-- This example requires Tailwind CSS v2.0+ -->
<div class="fixed inset-0 z-50 overflow-y-auto modal-form-contact">
  <div class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div class="inline-block max-w-2xl p-2 my-8 overflow-hidden bg-white shadow-xl sm:align-middle sm:w-full modal-form-contact__dialog" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
    <div class="border border-solid border-text">
      <div class="flex flex-row-reverse pt-4 mr-4 cursor-pointer modal-form-contact__close">
        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="39" viewBox="0 0 38 39">
            <g fill="none" fill-rule="evenodd">
                <g fill="#5d5d5d">
                    <g>
                        <g>
                            <path d="M-6 18H43.906V19H-6z" transform="translate(-1241 -44) translate(-.5 -.165) translate(1242 45) rotate(45 18.953 18.5)"/>
                            <path d="M-6 19H43.906V20H-6z" transform="translate(-1241 -44) translate(-.5 -.165) translate(1242 45) rotate(-45 18.953 19.5)"/>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </div>

      {% include 'components/modal-form-contact/_success.twig' %}
      {% include 'components/modal-form-contact/_failure.twig' %}
    </div>
    </div>
  </div>
</div>