{% if options.google_fonts %}
  <!-- gooogle-fonts start -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="{{ options.google_fonts|default('') }}" rel="stylesheet">
  <!-- gooogle-fonts end -->
{% endif %}