{% if options.iubenda.site_id and options.iubenda.cookie_policy_id %}
  <!-- Iubenda start -->
    <script type="text/javascript">
      var _iub = _iub || [];
      _iub.csConfiguration = { "consentOnContinuedBrowsing": false, "lang": "en", "siteId": {{ options.iubenda.site_id }}, "cookiePolicyId": { { options.iubenda.cookie_policy_id } }, "banner": { "acceptButtonDisplay": true, "customizeButtonDisplay": true, "position": "float-top-center", "acceptButtonColor": "#A88B5F", "acceptButtonCaptionColor": "white", "customizeButtonColor": "#212121", "customizeButtonCaptionColor": "white", "rejectButtonColor": "#212121", "rejectButtonCaptionColor": "white", "textColor": "white", "backgroundColor": "#000001" }};
    </script>

    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
  <!-- Iubenda end -->
{% endif %}