{% import "macros/class-helper.twig" as classHelper %}
{% set modifiers = classHelper.getModifiers('slider__navigation', modifiers) %}

<div class="{{modifiers}} absolute z-10 hidden md:block slider__navigation right-5 md:right-10 center-absolute-y">
  <div class="mb-5 fill-current text-primary slider__prev">
    <div class="transform rotate-180">{{ source("/static/svg/icon-arrow.svg") }}</div>
  </div>
  <div class="fill-current slider__next text-primary">
    <div>{{ source("/static/svg/icon-arrow.svg") }}</div>
  </div>
</div>