.slider__navigation {
  &--pill {
    @apply top-36 right-32;
    .slider__prev {
      @apply hidden;
    }
    .slider__next {
      @apply px-9 py-4 block border;
    }
  }
}
[class*="--navigation-dark"],
[class*="--dark"],
[class*="--controls-dark"] {
  .slider {
    &__prev {
      @apply text-white;
    }
    &__next {
      @apply text-white;
    }
  }
}