{% embed "views/components/atoms/section/section.twig" with {} %}
  {% block section_content %}

    <div class="page-intro container grid grid-cols-12 font-montserrat font-semibold">
      <div class="col-span-12">
        <h1 class="text-h1-mobile xl:text-h1 mb-s xl:mb-11 {{ component.options.bg.color in ['bg-rich-black-2', 'bg-black'] ? 'text-white' : '' }}">
          {{ component.title|nl2br }}
        </h1>
        {% if App.userIsLogged() %}
          {% if component.text_private %}
            <p class="text-h4-mobile xl:text-h4">
              {{ component.text_private }}
            </p>
          {% endif %}
        {% else %}
          {% if component.text %}
            <p class="text-h4-mobile xl:text-h4">
              {{ component.text }}
            </p>
          {% endif %}
        {% endif %}

      </div>
    </div>

  {% endblock %}
{% endembed %}
