#menu-toggle {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  cursor: pointer;
  span {
    background-color: #fff;
    transition: width .25s, height .25s ease-in-out;
  }
  #hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
    span {
      width: 100%;
      height: 2px;
      position: relative;
      top: 0;
      left: 0;
      margin: 0.35rem 0;
      display: block;

      &:nth-child(1) {
        transition-delay: .5s;
        border-radius: 99px 99px 0 0;
      }
      &:nth-child(2) {
        transition-delay: .25s;
        margin-right: 40%;
      }
      &:nth-child(3) {
        border-radius: 0 0 99px 99px;
      }
    }
  }
  #cross {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
    span {
      &:nth-child(1) {
        height: 0;
        width: 2px;
        position: absolute;
        top: 15%;
        left: 0.8rem;
        transition-delay: height 0s;
      }
      &:nth-child(2) {
        width: 0;
        height: 0.125rem;
        position: absolute;
        left: 15%;
        top: 0.8rem;
        transition-delay: width .25s;
      }
    }
  }
}
.body--menu-screen-opened #menu-toggle {
  span {
    background-color: #fff;
  }
  #hamburger {
    span {
      width: 0%;
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: .125s;
      }
    }
  }
  #cross {
    span {
      &:nth-child(1) {
        height: 80%;
        transition-delay: .625s;
      }
    }
    span {
      &:nth-child(2) {
        width: 80%;
        transition-delay: .375s;
      }
    }
  }
}