{% import "macros/class-helper.twig" as classHelper %}
{% set modifiers = classHelper.getModifiers('cta-app-store', modifiers) %}
{% set presets = {
  apple: {
    image_path: "/static/svg/app-store-apple-black.svg",
    url: options.app_stores.apple
  },
  android: {
    image_path: "/static/svg/app-store-android-black.svg",
    url: options.app_stores.android
  },
} %}

{% set preset = presets[preset|default('apple')] %}

<a href="{{preset.url|striptags|default("#")}}" target="_blank" 
  class="{{modifiers}} {{class}} cta-app-store">
    {{ source(preset.image_path) }}
  </a>
</a>

