<div class="accordion font-montserrat">

  <div class="flex justify-between py-8 cursor-pointer md:pt-8 md:pb-6 accordion__title">
  
    <div class="flex flex-col w-10/12 md:flex-row">
    {% if item.icon %}
      <div class="mb-5 mr-5 md:mb-0">
        {{ source("/static/svg/icon-#{item.icon}.svg") }}
      </div>
    {% endif %}

      <h3 class="text-2xl font-light md:text-2xl font-montserrat">
        {{item.title|striptags}}
      </h3>
    </div>
    
    <div class="relative my-auto transition duration-500 w-7 h-7 md:w-4 md:h-4 icon">
      <div class="transition-all duration-500 icon__y bg-primary center-absolute"></div>
      <div class="icon__x bg-primary center-absolute"></div>
    </div>

  </div>

  <div class="overflow-hidden border-b border-gray-400 border-solid accordion__content">
    <div class="pt-5 pb-10">
      {{ item.text|replace({'<h1>': '<h3>', '</h1>': '</h3>','<h2>': '<h3>', '</h2>': '</h3>'}) }}

      {% if item.location or item.cta_type %}
        <div class="pt-7 md:flex md:items-center">
          {% if item.location %}
          <div class="text-center mb-7 md:text-left md:mb-0">
            <span class="inline-block mr-3 align-middle">{{ source("/static/svg/icon-pin.svg") }}</span>
            <span class="inline-block text-base font-bold whitespace-normal align-middle font-montserrat text-primary">{{item.location|striptags|upper}}</span>
          </div>
          {% endif %}
          {% if item.link and item.cta_type == 'link' %}
            <div class="md:ml-auto">
              {{ atom('cta', {link: item.link, modifiers: ['large']}) }}
            </div>
          {% endif %}
          {% if item.file and item.cta_type == 'file' %}
            <div class="md:ml-auto">
              {{ atom('cta', {
                  link: {
                  url: item.file.url,
                  title: 'DOWNLOAD'
                }, modifiers: ['large', 'download']}) 
              }}
            </div>
          {% endif %}
        </div>
      {% endif %}

    </div>
  </div>
</div>