.accordion {
  .icon {
    &__y {
      @apply h-full;
      width: 0.25rem;
      @screen md {
        width: 0.125rem;
      }
    }
    &__x {
      @apply w-full;
      height: 0.25rem;
      @screen md {
        height: 0.125rem;
      }
    }
  }
  &__content {
    @apply h-full;
    max-height: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong {
      @apply font-bold mb-2;
    }
    p,
    li {
      @apply text-base font-light leading-loose;
    }
    ul {
      @apply list-disc list-inside;
    }
  }
  &.active {
    .icon {
      transform: rotate(90deg);
      &__y {
        @apply max-h-0;
      }
    }
    .accordion {
      &__content {
        @apply border-primary border-b-2;
        max-height: 1000vh;
      }
      &__title {
        h3 {
          @apply font-bold;
        }
      }
    }
  }
}