{% embed "views/components/atoms/section/section.twig" with {} %}

  {% block section_content %}
    <div class="content-image-duo">
      <div class="container grid grid-cols-3 md:grid-cols-6 lg:grid-cols-12 gap-x-5">

        <div class="col-span-3 mb-5 md:col-span-6 lg:col-span-12 lg:mb-12">

          {% if component.title %}
            <h2 class="font-semibold text-black text-h2-mobile lg:text-h2 font-montserrat">
              {{ component.title|striptags }}
            </h2>
          {% endif %}

          {% if component.text %}
            <div class="font-normal text-p-mobile lg:text-p text-gray font-open-sans mt-m">
              {{ component.text }}
            </div>
          {% endif %}

        </div>

        {% for item in component.items %}
          
          {{item.link.url ? '<a href="' ~ item.link.url ~ '" target="' ~ item.link.target ~ '"' : "<div" }} 
            class="relative flex items-end justify-center col-span-3 mt-3 md:col-span-3 lg:col-span-6">

            {{ atom('image', { 
              image: Image(item.image),
              crop: [822, 780],
              mobileCrop: [370, 351],
              attributes: {
                class: 'relative rounded-xl'
              }
            }) }}

            {% if item.link.title %}
              <h3 class="absolute font-semibold text-white text-h3-mobile lg:text-h3" style="bottom: 12%">
                {{ item.link.title }}
              </h3>
            {% endif %}

          {{item.link.url ? '</a>' : "</div>" }} 

        {% endfor %}

      </div>
    </div>
  {% endblock %}

{% endembed %}
