.cookie-policy {
  transition: 400ms transform;
  transform: translateY(101%);
}

body.cookie--opened {
  .cookie-policy {
    transition: 400ms transform;
    transform: translateY(0);
    display: block;
  }
}