
{% embed "views/components/atoms/section/section.twig" with {} %}

  {% block section_content %}
  <div class="container">
    <div class="w-full mx-auto lg:w-8/12">
      {% if component.file %}
          <div class="mt-4 w-ful">
            {{ atom('cta', {
              link: {url: component.file.url, title: component.label }, 
              modifiers: ['download', 'pill', 'w-full']
            }) }}
          </div>
        {% endif %}
    </div>  
  </div>
  {% endblock %}

{% endembed %}