.slider {
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .swiper-pagination-bullet {
    width: 14px + 4px*2;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
		/* disable swiper's defaults */
    border-radius: 0;
    background: transparent;
    margin: 0 !important;
    opacity: 100%;

    &:only-of-type {
      display: none;
    }
    span {
      display: inline-block;
      width: 14px;
      height: 2px;
      opacity: 50%;
      background: white;
      border-radius: 1px;
      transition: .3s;
    }
  }
  .swiper-pagination-bullet-active {
    width: 50px + 4px*2;

    span {
      width: 50px;
      opacity: 100%;
    }
  }
}