{% embed "views/components/atoms/section/section.twig" with {} %}

  {% block section_content %}
    <div class="container grid grid-cols-12 slider lg:gap-x-5">
      <div class="col-span-12 lg:col-span-8 lg:col-start-3">

        <div class="rounded-lg swiper-container slider-swiper">
          <div class="swiper-wrapper">
            {% for item in component.items %}
              <div class="swiper-slide">
                {{ atom('image', { 
                  image: Image(item),
                  crop: [1100, 735], 
                  mobileCrop: [375, 375], 
                  attributes: {
                    class: 'w-full'
                  }
                }) }}
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination slider-pagination"></div>
        </div> 

      </div>
    </div>
  {% endblock %}

{% endembed %}