.slider {
  &__pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &.swiper-pagination-lock {
      @apply hidden;
    }
  }
  &__pagination-bullet {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: grid;
    float: none;
    span {
      padding: 0 !important;
      margin: auto;
      position: relative;
      width: $bulletSize;
      height: $bulletSize;
      background-color: $secondary;
      border-radius: 50%;
      transition: 300ms all;
      &:before {
        content: '';
        border: 0.05rem $secondary solid;
        width: $bulletSize;
        height: $bulletSize;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .3s ease-in-out;
      }
    }
    &--active {
      span {
        background-color: $primary;
        transition: 300ms all;
        width: $activeBulletSize;
        height: $activeBulletSize;
        &:before {
          border-color: $primary;
          width: $bulletWrapperSize;
          height: $bulletWrapperSize;
          transform-origin: center;
        }
      }
    }
  }
}
[class*="--pagination-dark"],
[class*="--dark"],
[class*="--controls-dark"] {
  .slider {
    &__pagination-bullet {
      &--active {
        span {
          background-color: #fff;
          &:before {
            border-color: #fff;
          }
        }
      }
    }
  }
}