.cta-animated {
  &__button {
    transition: 150ms;
  }
  &:hover {
    .cta-animated__button {
      @apply px-5;
      transition: 150ms;
    }
  }
  &--outline {
    .cta-animated__button {
      @apply text-primary border-primary;
    }
  }
  &--dark {
    @apply text-white;
    .cta-animated__button {
      @apply bg-white text-primary border-white;
    }
    &.cta-animated--outline {
      @apply text-white;
      .cta-animated__button {
        @apply border-white text-white;
      }
    }
  }
  &--small {
    @apply p-0;
    & > span {
      @apply px-6 py-3;
    }
    &:hover {
      .cta-animated__button {
        @apply p-3;
      }
    }
  }
  &--smaller {
    @apply p-0;
    & > span {
      @apply px-2 py-1;
    }
    &:hover {
      .cta-animated__button {
        @apply p-1;
      }
    }
  }
  &--no-label {
    .cta-animated__label {
      @apply hidden;
    }
  }
  &--bg-white {
    .cta-animated__button {
      @apply bg-white text-primary;
    }
  }
}
[class*="--dark"] {
  .cta-animated {
    @extend .cta-animated--dark;
  }
}
[class*="--cta-small"] {
  .cta-animated {
    @extend .cta-animated--small;
  }
}