{% import "macros/class-helper.twig" as classHelper %}
{% set modifiers = classHelper.getModifiers('cta-animated', modifiers) %}

{% if link %}
  <a href="{{link.url|striptags}}" target="{{link.target|striptags|default('_self')}}" 
    class="{{modifiers}} cta-animated w-full py-5 flex" 
    {{'download' in modifiers ? 'download'}}>

    <span class="inline-block px-10 py-5 text-white align-middle transition duration-300 border border-solid rounded-full fill-current bg-primary cta-animated__button border-primary">
      {{ source("/static/svg/icon-arrow.svg") }}
    </span>

    {% if link.title %}
      <div class="grid w-full ml-6">
        <span class="inline-block my-auto font-light cta-animated__label text-lg font-montserrats">
          {{link.title|striptags|trim}}
        </span>
      </div>
    {% endif %}
    
  </a>
{% endif %}
