<div class="fixed top-0 left-0 hidden w-full h-full overflow-auto text-white transition duration-300 bg-black menu-screen">
  <div class="container flex flex-col h-full overflow-auto px-m pt-28 pb-m">

    <ul class="font-semibold text-h3-mobile font-montserrat">
      {% for item in menu.main.items %}
        <li class="mb-10 {{ item.class }}">
          <a href="{{ item.url }}" class="block border-b" target="{{ item.target }}">
            {{ item.title|striptags }}
          </a>
          {% if item.children and item %}
            <ul class="text-h4-mobile">
              {% for child in item.children %}
              <li>
                <a href="{{ child.url }}" class="block mt-s" target="{{ item.target }}">
                  {{ child.title|striptags }}
                </a>
              </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <div class="flex-1" style="min-height: 20px;"></div>

    <ul class="flex flex-wrap opacity-70 text-h5 gap-m">
      {% for fmenu in [menu.footer_1, menu.footer_2, menu.footer_3] %}
        {% for item in fmenu.items %}
          <li>
            <a class="inline-block"
              href="{{ item.url }}" target="{{ item.target }}">{{ item.title|striptags }}</a>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>

