.menu-screen {
  @apply opacity-0 transform translate-x-full;
  z-index: -1;
}
body.body--menu-screen-opened {
  overflow: hidden;

  .menu-screen {
    @apply opacity-100 transform translate-x-0;
  }
}