{% embed "views/components/atoms/section/section.twig" with {} %}

  {% block section_content %}
    <div class="title-list">
      <div class="container">
        <div class="grid grid-cols-12 gap-x-5">

          <div class="col-span-12 xl:col-span-4 mb-s">
            <h2 class="font-semibold text-black text-h2-mobile lg:text-h3 2xl:text-h2 font-montserrat">
              {{ component.title|striptags }}
            </h2>
          </div>

          <div class="grid grid-cols-8 col-span-12 xl:col-span-8">

            {% for item in component.items %}
              <div class="col-span-8 lg:col-span-3 mb-l lg:mb-m">

                <div class="w-2/3">
                  {{ image('image', 
                      image: Image(item.image),
                      crop: [260, 260],
                      mobileCrop: [220,220],
                    }) }}
                  }}
                </div>

                <h4 class="mb-5 font-semibold text-black text-h4-mobile lg:text-h4 font-montserrat">
                  {{ item.title|striptags }}
                </h4>

                <div class="text-xl font-medium leading-snug text-gray font-montserrat">
                  {{ item.text }}
                </div>

              </div>
              <div class="hidden lg:block lg:col-span-1">

              </div>
            {% endfor %}
          
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

{% endembed %}
