{% embed "views/components/atoms/section/section.twig" with {component: component} %}

  {% block section_content %}
    <div class="block-accordions">
      <div class="container">
        <div class="grid grid-cols-12 gap-x-5">
          <div class="col-span-12 md:col-span-10 md:col-start-2">
            {% if component.title %}
              <h2 class="text-3xl font-bold font-montserrat text-primary">
              {{ component.title|striptags }}
              </h2>
            {% endif %}
            
            {% for item in component.items %}
              {{ atom('accordion', {item: item}) }}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

{% endembed %}

