.navbar-header {
  transition: .3s;

  .dropdown-container {
    transition: .3s;
  }
  svg {
    height: 30px;
    width: auto;

    opacity: 100%;
    transition: opacity .3s;

    path {
      fill: #fff;
    }
/* the modal replaces the logo */
  }
}
body.with-modal-open {
  .navbar-header {
    opacity: 0%;
  }
}