<nav class="relative flex flex-col justify-center h-full text-white navbar-header">

  <div class="w-full px-5 center-absolute bg-secondary opacity-40 max-w-[105rem]">

    <a class="inline-block" href="{{ site.url }}">
      {{ source("/static/svg/logo.svg") }}
    </a>

    <div class="relative">
      {{ atom('hamburger') }}
    </div>

  </div>

  <div class="container px-5 bg-danger opacity-40">
    <ul class="flex justify-end">
      {% for item in menu.main.items %}
        <li class="{{ item.class }} font-family-1 font-bold">
          <a href="{{ item.url }}" class="inline-block" target="{{ item.target }}">{{ item.title|striptags }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

</nav>