{% set class = class|default(['py-10', 'md:py-20'])|merge(add_class|default([]))|join(' ') %}

<div class="swiper-container {{class}}">
  <div class="swiper-wrapper">
    {% block slider_content %}{% endblock %}
  </div>

  {% block slider_pagination %}
    {{ atom("slider-pagination") }}
  {% endblock %}

  {% block slider_navigation %}
    {{ atom("slider-navigation") }}
  {% endblock %}

  {% block slider_footer %}{% endblock %}

</div>

{% block slider_after %}{% endblock %}
