{% embed "views/components/atoms/section/section.twig" with {} %}

  {% block section_content %}
    <div class="text-media">
      {{ molecule('text-loop-video', {
        item: component, attributes: ["muted", "preload", "autoplay", "loop"]
      }) }}
    </div>
  {% endblock %}

{% endembed %}
