<section class="color-picker fixed top-0 left-0 w-full z-20 text-center">
  <div class="_bg-black mx-auto px-m pt-m pb-xs w-full sm:max-w-md rounded-t-2.5">
    <p class="text-text font-medium text-lg">Choose the color</p>
    <div class="flex justify-center mt-4 -ml-2">
      {% for color in colors if color.path %}
        {% set activeClass = color.path == currentProduct ? 'active' : ''%}
        <a href="?p={{ color.path }}" class="color {{ activeClass}}" style="background-image: {{ color.code }};">
          <div class="icon center-absolute">
            {{ source("/static/svg/icon-tick.svg") }}
          </div>
          <div class="circle center-absolute"></div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>

