.color-picker {
  .color {
    @apply relative rounded-full mx-2;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    .icon {
      @apply rounded-full hidden;
    }
    .circle {
      @apply rounded-full hidden;
      width: 50px;
      height: 50px;
      border: 8px solid #212221;
    }
    &.active {
      width: 50px;
      height: 50px;
      margin-top: 0;
      .icon {
        @apply block;
      }
      .circle {
        @apply block;
        width: 43px;
        height: 43px;
        border: 5px solid #212221;
      }
    }
  }
}