.image-content {
  p {
    @apply mb-4;
  }
  .location {
    min-height: 50px;
    padding-left: 60px;
    background-image: url('../svg/icons-m-pin.svg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 50px 50px;
  }
  a[href^="tel:"],
  a[href^="mailto:"] {
    padding-left: 60px;
    background-position: 11px 60%;
    background-repeat: no-repeat;
    background-size: 28px 28px;
  }
  a[href^="tel:"] {
    background-image: url('../svg/icon-s-phone.svg');
  }

  a[href^="mailto:"] {
    background-image: url('../svg/icon-s-mail.svg');
  }
}