{% embed "views/components/atoms/section/section.twig" with {} %}

  {% block section_content %}
  <div class="image-content">
    <div class="container mt-2xl">
      {{ molecule('image-content-card', {data: component}) }}
    </div>
  </div>
  {% endblock %}

{% endembed %}