<div class="reloader">
  <img src="{{ site.theme.link }}/static/svg/logo.svg" alt="">
  <img class="spinner" class="mt-4" src="{{ site.theme.link }}/static/svg/preloader_spinner.svg" alt="spinner">
  <p>
    For better experience, please <a href="?">refresh the page</a> and try again.
  </p>
</div>
<style>
  .reloader {
    z-index: 1000;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    color: #FFF;
    background-color: #222;
    -webkit-animation: disappear 1s ease-in-out 2s forwards;
    animation: disappear 1s ease-in-out 2s forwards;
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .reloader img{
    margin-bottom: 30px;
    place-self: center;
    -webkit-animation: disappear 2s ease-in-out forwards;
    animation: disappear 2s ease-in-out forwards;
  }
  
  .reloader .spinner {
    width: 4rem;
    animation: spin 2s ease-in-out forwards infinite;
    transition: width .5s linear;
  }

  .reloader p{
    text-align: center
  }

  .reloader a{
    color: #a88b5f;
  }
</style>