<header class="fixed top-0 left-0 z-40 w-full header {{ page_options.header_theme }}">
  {{ partial('navbar-header') }}
  {# menu-screen goes here to avoid z-index issues #}
  {{ partial('menu-screen') }}
</header>