{% embed "views/components/atoms/section/section.twig" with {} %}

  {% block section_content %}
    <div class="title-text">
      <div class="container grid grid-cols-3 gap-x-5 lg:grid-cols-12">
        <div class="col-span-3 mb-3.5 lg:col-span-12 xl:col-span-4 ">
          <h2 class="font-semibold text-black text-h2-mobile lg:text-h3 2xl:text-h2 lg:pr-5 font-montserrat">
            {{ component.title }}
          </h2>
        </div>
        <div class="col-span-3 lg:col-span-12 xl:col-span-8">
          <p class="font-normal text-p-mobile text-gray lg:text-p font-montserrat">
            {{ component.text }}
          </p>
        </div>
      </div>
    </div>
  {% endblock %}

{% endembed %}
