{% embed "views/components/atoms/section/section.twig" with {component: component, modifiers: ['scroll-icon']} %}

  {% block section_content %}
    <div class="{{component.videoCode ? 'bg-black'}} relative overflow-hidden hero-video min-h-screen flex flex-col justify-between">

      {% if component.video.url %}
        <div class="h-full-safe w-full-safe center-absolute">
          {{ atom('video', { 
            type: "video-tag",
            Detect: Detect,
            item: {
              video: component.video,
              mobile_video: component.mobile_video,
              optimized_video: component.optimized_video,
              optimized_mobile_video: component.optimized_mobile_video,
              isMobile: Detect.isMobile and not Detect.isTablet,
              attributes: ['loop', 'muted', 'autoplay', 'playsinline', 'preload']
            }
          }) }}
        </div>
      {% endif %}

      {% if component.title or component.text or component.link %}
        <div class="container relative flex flex-col justify-between h-full pt-56 pb-14">
          <div class="grid grid-cols-12 span-x-5">

            {% if component.title %}
              <div class="col-span-12 lg:col-span-9">
                <h1 class="text-white h1">
                  <span class="md:pr-5">
                    {{component.title}}
                  </span>
                  {% if component.text %}
                    <div class="inline-block leading-normal align-middle pt-2xs md:pt-0 md:w-3/12 h5 opacity-70">
                      <span class="leading-normal text-white h5">{{component.text}}</span>
                    </div>
                  {% endif %}
                </h1>
              </div>
            {% endif %}

            {% if component.link.url %}
              <div class="col-span-12 pt-5 md:pt-12">
                <a class="font-semibold text-white underline text-cta open-video-modal" target="video-full{{loop.index}}" href="{{component.link.url}}"><span class="hidden md:inline">{{component.link.title}}</span><span class="inline-block align-middle md:pl-xs">{{ source("/static/svg/icon-s-player.svg") }}</span>
                </a>
              </div>
            {% endif %}

            {#
              <div class="col-span-12 pt-5 md:pt-12">
                <a class="inline-flex items-center font-semibold text-white cursor-pointer text-cta ">
                  <span class="hidden underline md:inline">Watch the video</span>
                  <span class="inline-block align-middle md:pl-xs">{{ source("/static/svg/icon-s-player.svg") }}</span>
                </a>
              </div>
            #}

          </div>

        </div>
      {% endif %}

      {% if component.image %}
        <div class="container relative pb-7 md:pb-14 pb">
          <div class="w-full mt-auto md:w-6/12">
            {{ atom('image', {
              image: Image(component.image),
              mobileImage: Image(component.mobile_image),
              crop: [0, 68],
              attributes: {
                class: 'w-full'
              }
            }) }}
          </div>
        </div>
      {% endif %}

    </div>

    {% embed "views/partials/modal/modal.twig" with {name: "video-full" ~ loop.index} %}
      {% block modal_content %}

        {% set placeholder_video = {
          url: site.theme.link ~ "/static/videos/placeholder.mp4",
        } %}
        <div class="w-full mx-auto mt-6 lg:w-9/12">
          <div class="aspect-ratio-box">
            <div class="aspect-ratio-box-inside">
  
              <div class="relative w-full aspect-ratio-box">
                <div class="center-absolute" style="width:101%;height:101%">
                  {{ atom('video',  { 
                    type: "vimeo",
                    item: {
                      code: '593318901',
                      params: ['controls']
                    }
                  }) }}
                </div>
              </div>
  
            </div>
          </div>
        </div>

      {% endblock %}
    {% endembed %}

  {% endblock %}
{% endembed %}