section.component {
  &--padding-top {
    @apply pt-24 md:pt-56;
  }
  &--padding-bottom {
    @apply pb-24 md:pb-56;
  }
  &--dark {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a {
      @apply text-white;
    }
    .section__scroll-icon {
      path {
        fill: #fff;
      }
    }
  }
  &--min-h-screen {
    @apply min-h-screen flex items-center;
    & > div {
      @apply w-full;
    }
  }
  &--mobile-only {
    @apply md:hidden;
  }
}