{% import "macros/class-helper.twig" as classHelper %}
{% import "macros/text-formatter.twig" as textFormatter %}

{% set classes = [
  component.options.bg.color ? component.options.bg.color : '', 
  component.options.modifiers or modifiers ? classHelper.getModifiers('', component.options.modifiers|default([])|merge(modifiers|default([]))),
  no_spacer ? "" : "mb-20 md:mb-40",
] %}

<section class="component relative {{classes|merge(add_class|default([]))|join(' ')}}" data-index="{{loop.index0}}">

  {% block section_content %}{% endblock %}

    {% if component.options.bg.image.url %}
      <div class="w-full h-full overflow-hidden center-absolute" style="z-index:-1">
        {{ atom('image', { 
          image: Image(component.options.bg.image.url),
          mobileImage: Image(component.options.bg.mobile_image.url),
          crop: [1440, 0],
          attributes: {
            class: 'object-cover object-center bg-no-repeat w-full h-full'
          }
        }) }}
      </div>
    {% endif %}

  {% if 'scroll-icon' in component.options.modifiers|default([])|merge(modifiers|default([])) %}
    <div class="container z-20 justify-end hidden w-full md:flex center-absolute-x bottom-20">
      <span class="fill-current section__scroll-icon animate-bounce">{{ source("/static/svg/icon-scroll-arrow.svg") }}</span>
    </div>

  {% endif %}

</section>