<head>
  <meta charset="{{ site.charset }}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% if Detect.isMobile or Detect.isTablet %}
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
  {% else %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endif %}

  {{ technical('favicon') }}

  <!-- wp_head start -->
  {{ function('wp_head') }}
  <!-- wp_head end -->

  {# Removed, added by Yoast
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}"> 
  #}

  <link rel="stylesheet" href="{{ site.theme.link }}/static/css/app.css?v={{ getFileMTime("/static/css/app.css") }}" type="text/css" media="screen" />

  {{ technical('google-fonts') }}

  {{ technical('iubenda') }}

  {{ technical('google-analytics') }}

  {{ technical('facebook-pixel') }}

</head>