<div class="flex flex-col gap-x-5 xl:py-5 {{ data.image_position == 'right' ? 'md:flex-row-reverse' : 'md:flex-row' }} ">
  {% if data.image %}
    <div class="w-full pr-10 mb-4 md:w-6/12 _xl:w-5/12 md:mb-0">
      {{ atom('image', { 
        image: Image(data.image),
        crop: [680, 680], 
        attributes: {
          class: 'w-full rounded-2xl'
        }
      }) }}
    </div>
  {% endif %}

  <!--div class="hidden w-1/12 xl:block"></div-->

  <div class="flex w-full md:w-6/12">
    <div class="self-center">
      {% if data.date %}
        <div class="text-h5 text-gray md:mb-2xs">{{ data.date }}</div>
      {% endif %}
      {% if data.eyelet %}
        <div class="text-h5 text-primary">{{ data.eyelet }}</div>
      {% endif %}
      {% if data.title %}
        <h2  class="mb-1 font-semibold text-black lg:text-h3 text-h4 md:mb-m">{{ data.title }}</h2>
      {% endif %}
      {% if data.text %}
        <div class="p text-gray text-open-sans {% if data.truncate %}line-clamp-none sm:line-clamp-3  md:line-clamp-6 lg:line-clamp-none{% endif %}">{{ data.text }}</div>
      {% endif %}
      {% if data.location %}
        <div class="text-2xl font-semibold location mt-m">{{ data.location }}</div>
      {% endif %}
      
      <div class="w-10/12 md:w-full">
        {{ atom('cta', { link: data.link, modifiers: ['pill'], class: "mt-l" }) }}
      </div>
    </div>
  </div>

</div>