{# {% macro pill(text, textClass) %}
  {% set formatted = text|split('||')|map((value, key) => key is odd ? "<span 
    class='pill-outline'>#{value}</span>" : value)|join %}
  {% set formatted = formatted|split('!!')|map((value, key) => key is odd ? "<span class='pill'>#{value}</span>" : value)|join %}
  {{formatted}}
{% endmacro %} #}

{% macro ellipsis(text, limit) %}
  {{text|length <= limit ? text : text|slice(0, limit) ~ '...' }}
{% endmacro %}

{% macro nbHypens(text) %}
  {{ text|replace({'-': '<span>&#8209;</span>'}) }}
{% endmacro %}